---
layout: base.liquid
permalink: /index.html
css: './src/index/index.css'
scale: 1.0
---

<h1>忍狐のホームページ</h1>
<p>
    Thank you for visiting my site!<br/>
    This is the personal website of †忍狐†.
</p>
<p class="entrance">
    <span>Click below to enter.</span><br/>
    <a href="/home/">
        <img src="/images/buttons/20260210_button.avif" width="200" height="40" alt="Enter" /></a><br/>
    <span class="blink">⚠︎ NSFW</span>
</p>