body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2.5rem;
    padding: 8rem 0;
}

h1 {
    margin: 0 0 0.5rem 0;
    padding: 0.5rem 0;
}

p {
    margin: 0;
}

p.entrance {
    line-height: 2.25em;
}

img {
    vertical-align: middle;
}

.blink {
    animation: blink 1.25s steps(1) infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
