---
permalink: /index.html
---

<!doctype html>
<html lang="en">
    <head>
        {% default %}
        <!---->
        {% loadCSS "./src/global/global.css" %}
        <!---->
        {% loadCSS "./src/global/mobile.css" %}
        <!---->
        {% loadCSS "./src/index/index.css" %}
    </head>
    <body>
        <h1>忍狐のホームページ</h1>
        <p>
            Thank you for visiting my site.<br />
            This is where I share my drawings and diary.<br />
        </p>
        <ul>
            <li>Contains NSFW content</li>
            <li>Best viewed on desktop</li>
        </ul>
        <a href="/home">
            <img src="/images/buttons/20260210_button.avif" width="200" height="40" alt="Enter" />
        </a>
    </body>
</html>
