<!doctype html>
<html lang="en">
    <head>
        <!-- prettier-ignore -->
        {% head 0.5 %}
        {% injectCSS "./src/global/global.css" %}
        {% if css %} {% for item in css %} {% injectCSS item %} {% endfor %} {% endif %}
    </head>
    <body>
        <header class="main">忍狐のホームページ</header>
        <nav class="main">
            <section class="menu">
                <header>Menu</header>
                <ul>
                    <li><a href="/home/">Home</a></li>
                    <li><a href="/about/">About</a></li>
                    <li><a href="/gallery/">Gallery</a></li>
                    <li><a href="/links/">Links</a></li>
                </ul>
            </section>
            <section class="updates">
                <header>Updates</header>
                <ul>
                    <!-- prettier-ignore -->
                    {% assign posts = collections.posts | reverse %}
                    {% for post in posts limit:5 %}
                    <li>
                        <span>{{ post.date | date: "%m/%d" }}</span>
                        <a href="{{ post.data.path }}">{{ post.data.head }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </section>
        </nav>
        <main>{{ content }}</main>
        <footer>
            <div>© 2025 †忍狐†</div>
            <div>
                <a href="https://bsky.app/profile/ninko.cc" target="_blank">Bluesky</a> | <a href="https://github.com/ninko-cc" target="_blank">Github</a> |
                <a onclick="mail()">Mail</a> | <a href="/atom.xml" target="_blank">Atom</a>
            </div>
        </footer>
        <!-- prettier-ignore -->
        {% injectJS "./src/global/global.js" %}
        {% if js %} {% for item in js %} {% injectJS item %} {% endfor %} {% endif %}
    </body>
</html>
