---
layout: layout.html
css: './src/diary/diary.css'
pagination:
    data: collections.posts
    size: 5
    reverse: true
---

<h1>Diary<small>絵日記です</small></h1>

{%- for post in pagination.items -%}
<!---->
{% diary post.data.date post.data.image post.data.text %}
<!---->
{%- endfor -%}

<nav class="pagination">
    {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}">Prev</a>
    {% endif %}
    <!---->
    {% if pagination.href.previous and pagination.href.next %}
    <span>|</span>
    {% endif %}
    <!---->
    {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}">Next</a>
    {% endif %}
</nav>
