@media screen and (max-width: 1279px) {
    body {
        display: flex;
        flex-direction: column;
        width: auto;
    }

    main {
        padding: 0 1rem;
    }

    footer {
        margin: 2rem 1rem;
    }

    h1 {
        margin: 0 0 1rem 0;
    }

    .flex {
        flex-direction: column;
        gap: 0;
    }

    nav.main {
        padding: 0;
        margin-bottom: 2rem;
        border-bottom: 1px solid var(--gold);
    }

    @scope (nav.main) {
        ul {
            display: flex;
            justify-content: space-around;
            padding: 0 2rem;
        }
    }
}
