---
layout: body.liquid
css: './src/gallery/gallery.css'
js: './src/gallery/gallery.js'
---
<h1>
    Gallery
    <small>全力で描いた絵！</small>
</h1>

<section>
    {% for post in collections.posts reversed %}
        {% if post.data.gallery %}
            <a href='/posts/{{ post.data.id }}/'>
                <img
                    src='/images/artworks/{{ post.data.thumbnail.image }}'
                    width='{{ post.data.thumbnail.width }}'
                    height='{{ post.data.thumbnail.height }}'
                    loading='lazy'
                >
            </a>
        {% endif %}
    {% endfor %}
</section>
